<% if !@books,empty %>
  <table border="1">
    <tbody>
      <% @books.each do |book| %>
        <tr>
        <td><%= book.title %></td>
        <td><%= book.release_year %></td>
        <td><%= book.artist_name %></td>
        <td><%= book.genre %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br><a href="/books/new">Create new book</a>