<h1>Reviewed Books</h1>
  <table border="1">
    <thead>
      <td>Title</td>
      <td>Author</td>
      <td>Year</td>
      <td>Fiction?</td>
    </thead>
    <tbody>
    </tbody>
  </table>
<div class="links">
     <a href="/books/new">Create new book</a><br>
</div>
<script type="text/javascript">
  //alert("So far, so good!");
  $(function () {
    let data = $.ajax( { type: "GET", url: "/books/list" });
    let books = data.responseText;
    console.log(data);
    console.log(books);
    //for (var key in books) {
    //  if (books.hasOwnProperty(key)) {
    //    console.log(key + ": "  + books[key]);
    //  }
    //}
    //books.each(function (book) {
    //  $('tbody').append("<tr><td><a href=/books/" + book.id + ">" + book.title + " </a></td><td>" + book.author +
    //                     "</td><td>" + book.year + "</td><td" + book.fiction ? Fiction : Non-Fiction + "/td></tr>");
    //})
  })
</script>