<% if !@reviews.empty? %>
  <table border="1">
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
        <td><%= review.book.title %></td>
        <td><%= review.rating %> stars</td>
        <td><%= review.summary %></td>
        <td><%= review.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="book-info">
  <a href="/reviews/new">Create new review</a>
</div>