<% if !@reviews.empty? %>
  <table border="1">
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
        <td><%= review.title %></td>
        <td><%= review.release_year %></td>
        <td><%= review.artist_name %></td>
        <td><%= review.genre %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br><a href="/reviews/new">Create new review</a><br>