<% if !@reviews.empty? %>
  <% @reviews.each do |review| %>
    <h3>Reviewed by: <%= review.user.email %></h3>
    <p>Summary: <%= review.summary %></p>
    <p>Rating: <%= review.rating %> stars</p>
    <p>Body: <%= review.body %></p>
  <% end %>
<% else %>
  <h3>There are no reviews for this book</h3>
<% end %>
<a href="/reviews">Return to index</a><br>
